<style type="text/css">

body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #999999;
	text-align: center;
}
body {
	background-color: #FFFFFF;
	margin: 0px 10px 0px 10px;
	background-image: url(http://public.blogbus.com/blogbus/blog/images/templat);
	background-position: top center;
	background-repeat: repeat-y;
}
a {
	color: #777777;
	text-decoration: none;
}
a:hover {
	color: #cccccc;
	text-decoration: none;
}
img {
	border: none;
}
form {
	margin: 0px;
}
input {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
textarea {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow: auto;
	margin-top: 3px;
}

#container {
	width: 500px;
	text-align: left;
	padding: 10px;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	margin: auto;
}
.blogName, .blogName a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	font-style: italic;
	line-height: normal;
	letter-spacing: -3px;
	margin-top: 20px;
	text-indent: 2px;
}
.blogDescription {
	line-height: 20px;
	text-indent: 5px;
	margin-bottom: 15px;
}
#tag {
	color: #777777;	
	background-color: #EAEAEA;
	padding: 3px 6px 3px 6px;
}

.sideContent {
	padding: 8px 5px 7px 5px;
	margin-bottom: 10px;
	background-color: #F3F5F2;
}
.sidetitle {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 2px;
}
#sideCustomlize {
	margin-top: 20px;
	padding: 5px;
}
#sideCustomlize img {
	margin: 5px 2px;
}
#sideCustomlize a img {
	border: none;
}
#content {
	padding: 20px 0px 20px 8px;
	float: left;
                width:485px;
                height:auto;
}
.calendar_h {
	width: 100%;
	font-weight: bolder;
	text-align: center;
}
.date {
	color: #999999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	font-style: italic;
	line-height: normal;
	margin-bottom: 3px;
}
.title {
	color: #777777;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: normal;
	margin: 5px 0px 0px 2px;
}
.logContent {
	margin: 10px 0px 25px 2px;
}
.logFooter {
	color: #999999;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #EAEAEA;
	margin-bottom: 30px;
}
.recmtBody{
	padding: 3px;
	color: #777777;
	background: #F3F5F2;
}
#footer {
	clear: both;
	line-height: 30px;
	text-align: center;
	border-top: 2px solid #E9E9E5;
	margin: 0px 5px 0px 5px;
}
body {cursor:url('http://4296411.blogbus.com/files/12420534821.cur')}
　　 
　　a {cursor:url('http://4296411.blogbus.com/files/12420534820.ani')}

-->
</style>

<STYLE type=text/css> 
　　<!-- 
　　a:link{text-decoration:none} 
　　a:visited{text-decoration:none} 
　　a:hover {color: #FFFFFF;text-decoration:underline} 
　　--> 
　　</STYLE> 

<SCRIPT language=javascript>
        function Click(){
        alert('[ 薬小耀||【摇头丸、二块五】] '); 
        window.event.returnValue=false;
        } 
        document.oncontextmenu=Click; 
        </SCRIPT>




<meta http-equiv="Page-Enter" content="revealTrans(Duration=5,Transition=12)"> 
<meta http-equiv="Page-Exit" content="revealTrans(duration=5, transition=12)"> 

<META http-equiv=Page- Enter content=blendTrans(Duration=1.5)> 
<SCRIPT language=JavaScript type=text/javascript><!-- Hidefunction killErrors() {return true;}window.onerror = killErrors;// --></SCRIPT> 

<META http-equiv=Page-Exit content=blendTrans(Duration=1.5)> 
　　<SCRIPT language=JavaScript type=text/javascript><!-- Hidefunction killErrors() {return true;}window.onerror = killErrors;// --></SCRIPT> 


<script src="http://www.clocklink.com/embed.js"></script><script type="text/javascript" language="JavaScript">obj=new Object;obj.clockfile="5012-gray.swf";obj.TimeZone="China_Beijing";obj.width=91;obj.height=30;obj.wmode="transparent";showClock(obj);</script>
